.processingResult {
    background-color: yellowgreen;
    width: 400px;
    height: 250px;
    border: 5px solid teal;
    padding: 10px;
}

.articleContent {
    width: 1200px;
    height: 150px;
    position: relative;
    left: 300px;
    bottom: 100px;
}

th {
    background-color: yellowgreen;
}

table {
    border-color: teal;
    border-collapse: collapse;
}

.lineСolor {
    background-color: yellowgreen;
}
