.processingResult {
    background-color: yellow;
    width: 400px;
    height: 250px;
    border: 3px solid yellowgreen;
    padding: 10px;
}

.articleContent {
    width: 1200px;
    height: 150px;
    position: relative;
    left: 300px;
    bottom: 100px;
}

th {
    background-color: yellowgreen;
}

table {
    border-color: teal;
    border-collapse: collapse;
}

.line–°olor {
    background-color: yellowgreen;
}
