.articleContent {
    width: 1200px;
    height: 150px;
    position: relative;
    left: 300px;
    bottom: 100px;
}

th {
    background-color: yellowgreen;
}

table {
    border-color: teal;
    border-collapse: collapse;
}

.test2 {
    background-color: yellowgreen;
}
