.processingResult {
    background-color: #a0aec0;
    width: 400px;
    height: 250px;
    border: 3px solid black;
    padding: 10px;
}

.articleContent {
    width: 1200px;
    position: relative;
    left: 250px;
    bottom: 70px;
    background-color: #a0aec0;
}

th {
    background-color: #a0aec0;
}

table {
    border-color: #1a202c;
    border-collapse: collapse;
}

.lineСolor {
    background-color: #a0aec0;
}
